@import "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: $LIGHT-GREY;
  color: $DARK;
}

header {
  background-color: $WHITE;
  padding: 20px 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > a {
    color: $BLACK;
    text-decoration: none;
    padding: 0 1rem;

    &:hover {
      display: flex;
      padding: 12px 20px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 100%;

      border-radius: 15px;
      background: $ACCENT-COLOR;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
